.contact {
    margin-top: 20px;
}

.contact-title {
    font-size: 28px;
    font-weight: 500;
    padding-top: 20px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-wrap: wrap;
    background-color: #E6EDF6;
    padding: 20px;
    min-width: 200px;
}

.contact-info-title {
    padding-bottom: 10px;
    font-weight: 400;
    color: rgb(21, 21, 21, 0.7);
}

.contact-info-link {
    color: rgb(21, 21, 21);
}

.contact-info-btn {
    border: none;
    background-color: #345E9F;
    padding: 7px 10px 7px 38px;
    color: #FFFFFF;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
}

.contact-info-btn::after {
    content: url(../img/contact/vk.svg);
    position: absolute;
    top: 7px;
    left: 10px;
    width: 18px;
    height: 11px;
}

.contact-wrapper {
    padding-top: 20px;
    display: flex;
}

.contact-map {
    width: 100%;
    position: relative;
    background-image: url(../img/contact/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: nowrap;
}

.contact-map-selector {
    font-family: var(--font-family-accent);
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 20px;
}

.day-selector {
    display: inline-block;
    position: relative;
}

.work {
    font-weight: 400;
}

.today {
    cursor: pointer;
    padding-left: 20px;
    color: #345E9F;
    position: relative; /* Добавлено, чтобы позиционировать .dropdown-menu */
}

.dropdown-image {
    display: inline-block;
    margin-left: 0px; 
    cursor: pointer; 
}

.dropdown-image img {
    padding-top: 7px;
}

.dropdown-menu {
    position: absolute;
    left: 100px;
    top: -10px;
    display: none;
    list-style: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    transition: opacity 0.2s ease; 
}

.dropdown-image:hover .dropdown-menu { 
    display: block; 
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #f2f2f2;
}

.dropdown-menu li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-menu li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.work-hours {
    margin-left: 10px;
    font-weight: 400;
}

.requisites-wrapper {
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    background-color: rgb(52, 94, 159, 0.3);
    padding: 30px 30px 25px 30px;
}

.requisites {
    margin-top: 60px;
    margin-bottom: 60px;
}

.requisites-title {
    font-size: 28px;
    font-weight: 500;
}

.block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 5px;
}

.requisites-block-title {
    font-family: var(--font-family-accent);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.requisites-block-title-text {
    font-size: 24px;
    font-weight: 500;
    max-width: 890px;
    padding-bottom: 10px;
}

.requisites-block-title-text a {
    color: #345E9F;
}

.requisites-block {
    font-family: var(--font-family-accent-two);
    border-top: 1px solid rgb(52, 94, 159, 0.5);
    padding-top: 30px;
    font-weight: 400;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.img-open {
    width: 30px;
    height: 16px;
    margin-left: 10px;
}